CURRENT_MODEL="gpt-4o"
LLM_BASE_URL=""
LLM_API_KEY=""
GEOSERVER_WFS_URL="http://localhost:8080/geoserver/wfs"
GEOSERVER_WFS_USERNAME=""
GEOSERVER_WFS_PASSWORD=""
GEOSERVER_WFS_SRS_NAME="EPSG:3857"
GEOCODER_API_URL=""
GEOCODER_TOKEN_URL=""
GEOCODER_CLIENT_ID=""
GEOCODER_CLIENT_SECRET=""
GEOCODER_SCOPE=""
OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""
GEMINI_API_KEY=""
